@import "tailwindcss";
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent; }
}

.typewriter {
  overflow: hidden;           /* Text cut */
  white-space: nowrap;        /* Single line */
  display: inline-block;      /* Important for cursor alignment */
  border-right: 2px solid white; /* Cursor */
  animation: typing 3s steps(40) infinite alternate, 
             blink 0.5s step-end infinite;
}
